<div class="title center">
	<h1 class="headline">Contact</h1>
	<p class="quote">Email: benbrizzi10@gmail.com </p>
	<div class="contact">
		<a href="https://github.com/brizzi10" target="_blank"><img src="public/github.png"></a>
		<a href="https://www.linkedin.com/in/benjamin-brizzi" target="_blank"><img src="public/linkedin.png"></a>
		<!-- <a href="https://github.com/brizzi10" target="_blank"><img src="public/github-icon.png"></a> -->
		<a href="https://www.facebook.com/ben.brizzi.3" target="_blank"><img src="public/facebook.png"></a>
	</div>
</div>
