<div class="title center">
	<h1 class="headline">Contact</h1>
	<p class="quote">Email: VanPhan514@gmail.com </p>
	<div class="contact">
		<a href="https://github.com/VansPhan" target="_blank"><img src="public/github-icon.png"></a>
		<a href="https://www.linkedin.com/in/vansphan" target="_blank"><img src="public/linkedin.png"></a>
		<a href="https://twitter.com/VanPhan" target="_blank"><img src="public/twitter.png"></a>
		<a href="https://www.instagram.com/vansphan" target="_blank"><img src="public/instagram.png"></a>
	</div>
</div>
