<div class="title right">
	<a href="https://github.com/VansPhan" target="_blank"><img src="public/github-icon.png"></a>
	<p class="quote" style="text-align: left;">
		<a href="https://github.com/VansPhan/kemoti" target="_blank"><img src="public/git.png"></a>
		<a href="#kemoti">Kemoti</a> | A Japanese Emoji creator.
		<br>
		<a href="https://github.com/VansPhan/leagues" target="_blank"><img src="public/git.png"></a>
		<a href="#best-na">Best-NA</a> | A League of Legend player search.
		<br>
		<a href="https://github.com/VansPhan/epic-app" target="_blank"><img src="public/git.png"></a>
		<a href="#epic">Epic</a> | A travel diary of your personal trips.
	</p>
</div>
