<div class="title right">
		<p class="quote" style="text-align: left;">
		<a href="https://github.com/brizzi10/towers" target="_blank"><img src="public/git.png"></a>
		<a href="#kemoti">Towers of Hanoi</a> | Classic Towers of Hanoi disk game
		<br>
		<a href="https://github.com/brizzi10/outwork" target="_blank"><img src="public/git.png"></a>
		<a href="#best-na">Outwork</a> | Basketball Custom Workout Creator
		<br>
		<a href="https://github.com/megancoyle/sojourn" target="_blank"><img src="public/git.png"></a>
		<a href="#epic">Sojourn</a> | A travel planning application
	</p>
</div>
