<div class="title right">
	<a href="https://github.com/brizzi10" target="_blank"><img src="public/github-icon.png"></a>
	<p class="quote" style="text-align: left;">
		<a href="https://brizzi10.github.io/towers/" target="_blank"><img src="public/git.png"></a>
		<a href="#kemoti">Towers of Hanoi</a> | Creating the Towers of Hanoi in browser to practice recursion
		<br>
		<a href="https://secure-eyrie-22139.herokuapp.com/" target="_blank"><img src="public/git.png"></a>
		<a href="#best-na">Outwork</a> | A customized workout creator for basketball players
		<br>
		<a href="https://sojourn-travel.herokuapp.com/" target="_blank"><img src="public/git.png"></a>
		<a href="#epic">Sojourn</a> | A trip planning application
	</p>
</div>
